<footer id="footer">
  <div class="section__inner section__inner--grid">
    <div class="footer__links">
      {{#each site.routes}}
        <a class="btn--text" href="/{{slug}}">{{name}}</a>
      {{/each}}
    </div>
    <div class="footer__contact-info">
      <p class="h2">Say Hi or Follow Us</p>
      <a href="mailto:{{site.email}}" rel="noopener"><img class="icon" src="/icon--mail.svg">Send us an Email</p>
      <a href="{{site.instagram_url}}"><img class="icon" src="/icon--instagram.svg">{{site.instagram_handle}}</p>
    </div>
    <a class="footer__logo" href="/">
      {{> 'sps-logo-wide'}}
    </a>
  </div>
</footer>